@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: 52 211 153;
    /* emerald-400 */
  }

  html {
    font-family: 'Cabinet Grotesk', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-400 transition-colors duration-300;
  }
}